<div class="container">
  <div class="flex flex-col justify-center items-center">
    <p class="text-4xl font-bold">
      <a class="hover:text-blue-600" href="https://material.angular.io/"
        >Angular Material</a
      >
      +
      <a class="hover:text-blue-600" href="https://tailwindcss.com/"
        >Tailwindcss</a
      >
      starter project
    </p>

    <button class="bg-teal-400 focus:outline-none m-3 p-2 rounded-shadowed w-32">
      Tailwind styled
    </button>

    <button mat-raised-button color="primary">
      Material styled
    </button>
  </div>
</div>
